h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.element{
	border:1px;
	border-color:'black';
	width:50%;
	height:100%;
}

#menu {
	padding:0px;
	margin:0px;
	border:0px;
}

#record {
	display : none;
}

#envoye {
	display : none;
}

.row{
	width:100%;
	height: 50%;
	display: flex;
	padding:0px;
	margin:0px;
	border:0px;
}
